{% extends "base.html" %}

{% block content %}

    <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Logistical details</h1>

        <form method="post">
            {% set question_data = question.department %}
            {% include '_text_input.html' %}
            {% set question_data = question.directorate %}
            {% include '_text_input.html' %}
            {% set question_data = question.length %}
            {% include '_radio.html' %}
            {% set question_data = question.ongoing %}
            {% include '_radio.html' %}
            {% set question_data = question.start %}
            {% include '_text_input.html' %}
    <div class="govuk-form-group">

    </div>
        <button type="submit" class="govuk-button">
  Continue
</button>
        </form>

      </div>
    </div>
  </div>


{% endblock %}
